.nav {
  background-color: #2C3E50;
  font-family: 'Varela Round', sans-serif;
}

.card {
background-color: #2C3E50;
font-family: 'Varela Round', sans-serif;
}
.card-content{
  color: white;
}
.card-action{
  color: white;
}
.parallaxheader{
    font-family: 'Varela Round', sans-serif;
}
.grey-text{
    font-size: 25px;
    font-family: 'Varela Round', sans-serif;
}
.page-footer{
    background-color:#2C3E50;
}

 body {
     display: flex;
     min-height: 100vh;
     flex-direction: column;
 }
 main {
     flex: 1 0 auto;
 }

.collapsible-header{
    color:#2C3E50
}
.collapsible-body{
     color:grey
}

.footer-copyright {
    text-align: center;
}

.page-footer .col {
    text-align: center;
}

.page-footer h5 {
    font-family: 'Varela Round', sans-serif;
    font-size: 18px;
}
.page-footer p {
    font-family: 'Varela Round', sans-serif;
    font-size: 18px;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}


.fa:hover {
    opacity: 0.2;
}




.fa-facebook {
    color: white;
}


.fa-twitter {
    color: white;
}

.bgvideo {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: -100;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
nav.nav-center ul{
        text-align: center;
    }

nav.nav-center ul li{
display:inline;
    float:none;
}

nav.nav-center ul li a{
display:inline-block;
}

.homepage{
    justify-content: center;
    text-align: center;
}
.logo{
    margin-top: 200px;
}

.background{
  background: #bdc3c7;
background: -webkit-linear-gradient(to bottom, #2c3e50, #bdc3c7);
background: linear-gradient(to bottom, #2c3e50, #bdc3c7);
}
.transparentfooter {
    background-color: rgba(0,0,0,0);
    border-color: rgba(0,0,0,0);
}


