.nav {
  background-color: #2C3E50;
  font-family: 'Varela Round', sans-serif;
}

.card {
background-color: #2C3E50;
font-family: 'Varela Round', sans-serif;
}
.card-content{
  color: white;
}
.card-action{
  color: white;
}
.parallaxheader{
    font-family: 'Varela Round', sans-serif;
}
.grey-text{
    font-size: 25px;
    font-family: 'Varela Round', sans-serif;
}
.page-footer{
    background-color:#2C3E50;
}

 body {
     display: flex;
     min-height: 100vh;
     flex-direction: column;
 }
 main {
     flex: 1 0 auto;
 }

.collapsible-header{
    color:#2C3E50
}
.collapsible-body{
     color:grey
}

.footer-copyright {
    text-align: center;
}

.page-footer .col {
    text-align: center;
}

.page-footer h5 {
    font-family: 'Varela Round', sans-serif;
    font-size: 18px;
}
.page-footer p {
    font-family: 'Varela Round', sans-serif;
    font-size: 18px;
}


.bgvideo {
  overflow: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: -100;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
nav.nav-center ul{
        text-align: center;
    }

nav.nav-center ul li{
display:inline;
    float:none;
}

nav.nav-center ul li a{
display:inline-block;
}

.homepage{
    justify-content: center;
    text-align: center;
    overflow: hidden;
}


.background{
  background: #bdc3c7;
background: -webkit-linear-gradient(to bottom, #2c3e50, #bdc3c7);
background: linear-gradient(to bottom, #2c3e50, #bdc3c7);
}
.transparentfooter {
    background-color: rgba(0,0,0,0);
    border-color: rgba(0,0,0,0);
}


.img-container {
  width: 70%;
    margin: 0 auto;
}

rect {
  fill: transparent;
  transition: 1s;
  stroke: transparent;
  stroke-width: 2px;
  opacity: 1;
}

#one:hover {
  fill: green;
  opacity: 0.5
}


.section{
  background-color: #2C3E50;
}

.audio-container {
  display: flex;
  justify-content: center;
  align-items: center
}

hr {
height: 1px;
color: black;
background-color: black;
border: none;
}
.logo
{
  position: fixed;
	top: 50%;
	left: 50%;
	z-index: 100;
	-ms-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
@media screen and (max-width: 600px){
  .logo{
    height:25%;
  }
}
.logo {
-webkit-transition: opacity 200ms linear;
-moz-transition: opacity 200ms linear;
-ms-transition: opacity 200ms linear;
-o-transition: opacity 200ms linear;
transition: opacity 200ms linear;
}

.logo:hover{
opacity: 0;
-webkit-opacity: 0;
-moz-opacity: 0;
filter: alpha(opacity=100);
}
.canvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;

}
h5{
color: white;
text-align: center;
}

h4{
color: white;
text-align: center;
}

p{
color: white;
text-align: center;
}
